html, body {
  margin:0;
  padding:0;
  width:100%;
  height:100%;
}

/* ==== HEADER ==== */


div.title_stop {
  width:100%;
  height:1px;
}


/* ==== MENU SIDE BAR ==== */

.navtitle {
    display: none;
    visibility: hidden;
}

#uobcms-col1 {
    padding-top: 0;
}

/* ==== MAIN PAGE CONTENT ==== */

div#uobcms-wrapper{
  min-height: calc( 100% - 107px - 2.75em - 2em - 1px - 50px - 39px)
}

div#uobcms-content {
  position:relative;
}

  /* --- TABLE FORMATTING --- */
  table {
    width:100%;
    color:#333333;
    border-collapse: collapse;

  }

    table th {
      padding:4px;
      font-size:12px;
      text-transform:uppercase;
      font-weight:bold;
    }

    table td {
      text-align:center;
      padding:2px 4px;
      font-size:20px;
    }

      table tr:nth-child(2n+3){
        background:#f2f2f2;
      }

      table a {
        color:#c9002f;
      }

  /* --- Papers --- */
  div#uobcms-content div.year {
    padding:5px 10px;
    /*box-shadow: 0px 0px 2px black;*/
    border: 1px solid #dedcd2;
    font-size:25px;
    height:30px;
    line-height:35px;
    margin-bottom:10px;
    margin-top:5px;

    /*border-radius:4px;*/
    text-align:center;

    background:#efede9;
  }

  div#uobcms-content div.paper_pub{
    padding:5px 10px;
    border: 1px solid #dedcd2;
    margin-bottom:10px;

    background:#efede9;

    max-height:200px;
    height:auto;
  }

    div#uobcms-content div.paper_pub div.paper_title {
      font-weight:bold;
    }

    div#uobcms-content div.paper_pub div.paper_authors {
    }

    div#uobcms-content div.paper_pub div.paper_journal {
      font-style: italic;
    }

      div#uobcms-content div.paper_pub div.paper_ids {
        width:100%;
      }

      div#uobcms-content div.paper_pub div.paper_ids div.paper_data{
          float:left;
          font-size:14px;
          padding:3px 4px;
          margin-right:5px;
          border-radius:5px;
        }

        div#uobcms-content div.paper_pub div.paper_ids div.paper_data:last-child {
          margin-right:0;
        }

          div#uobcms-content div.paper_pub div.paper_ids div.paper_data a {

          }

  /* --- Metrics --- */

  div#uobcms-content div.metric {
     width:calc( 100%/4 - 1px);
     height:calc( 25vh - 1px);

     border-top: 1px solid #dedcd2;
     border-left: 1px solid #dedcd2;

     background:#efede9;

     color:#c9002f;
     float:left;
     text-align: center;
     position: relative;
     cursor:pointer;

     -webkit-transition: background 500ms;
     -moz-transition: background 500ms;
     -o-transition: background 500ms;
     transition: background 500ms;

   }

   div#uobcms-content div.metric:nth-child(8) {
     border-bottom: 1px solid #dedcd2;
     border-right: 1px solid #dedcd2;
     width:calc( 100%/4 - 2px);
   }

   div#uobcms-content div.metric:nth-child(4) {
     border-right: 1px solid #dedcd2;
     width:calc( 100%/4 - 2px);
   }

   div#uobcms-content div.metric:nth-child(5),
   div#uobcms-content div.metric:nth-child(6),
   div#uobcms-content div.metric:nth-child(7) {
     border-bottom: 1px solid #dedcd2;
   }

  div#uobcms-content div.metric:hover {
     background:#c9002f;
   }

     div#uobcms-content div.metric div.metric_name {
        font-size:13px;
        position: absolute;
        top:calc( 25vh/2 - 45px );
        width:100%;

        -webkit-transition: color 500ms, top 500ms;
        -moz-transition: color 500ms, top 500ms;
        -o-transition: color 500ms, top 500ms;
        transition: color 500ms, top 500ms;
     }

     div#uobcms-content div.metric:hover div.metric_name {
       color:#f2f2f2;
       top:calc( -45px + 55px);
     }

     div#uobcms-content div.metric div.metric_value {
       font-size:40px;

       position: absolute;
       top:calc( 25vh/2 - 40px + 30px );
       width:100%;

       -webkit-transition: color 500ms, top 500ms;
       -moz-transition: color 500ms, top 500ms;
       -o-transition: color 500ms, top 500ms;
       transition: color 500ms, top 500ms;
     }

     div#uobcms-content div.metric:hover div.metric_value {
       color:#f2f2f2;
       top:calc( -40px + 30px  + 55px );
     }

     div#uobcms-content div.metric div.metric_description {
       position:absolute;
       bottom:4px;
       width:calc(100% - 20px);
       padding: 0 10px;
       color:#efede9;
       font-size:12px;
     }

    /* --- Unordered List --- */
    div#uobcms-content ul a {
      color:#c9002f;
    }

    /* --- Plots --- */
    div#uobcms-content div#cumulative_div {
      width:100%;
      height:500px;
    }

    div#uobcms-content div#papers_per_year_div {
      width:100%;
      height:500px;
    }

img.altmetric {
  height:50px;
  vertical-align:middle;
  margin-right:10px;
}

/* ==== Footer ==== */

div.clear-block {
  width:100%;
  clear:both;
  float:left;
  height:1px;
}

div.foot {
  height:50px;
  background:#161b20;
  width:100%;
  margin-top:42px;
}

.clear {
  clear:both;
}

.clear:before,
.clear:after {
  content:" ";
  display:table;
}
.clear:after {
  clear:both;
}



/* ==== Word Cloud ==== */
.canvas {
 /* width:100%;*/
}
