

<html>
<head>
  <title>ALSPAC Data Set Publications</title>

  <link rel="stylesheet" href="/css/uobcms_corporate.css">
  <link rel="stylesheet" href="/css/colour_scheme.php">
  <link rel="stylesheet" href="/css/style_main.php">
  <link rel="stylesheet" href="/css/map.css">



  <!-- MAP STUFF -->

  <script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?sensor=false">
  </script>

  <script type="text/javascript" src="map.kml"></script>

  <script type="text/javascript">
    function initialize() {
      var latlng = new google.maps.LatLng(26, 24);
      var myOptions = {
        zoom: 3,
        center: latlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

      for (var i = 0; i < locations.length; i++) {
  	var site = locations[i];
  	var myLatLng = new google.maps.LatLng(site[1], site[2]);
          var marker = new google.maps.Marker({
              position: myLatLng,
              map: map,
              title: site[0]
          });
      }
  }

  </script>

  <!-- END MAP STUFF -->



</head>
<body onload="initialize()">

  <?php
    include_once( $_SERVER['DOCUMENT_ROOT'] . "/components/common.php" );
    printCommon("", $VARIABLES['page_head_title']);
   ?>


<p id="breadcrumbs"><a href="/">Home</a> &gt; Publications Map</p>

    <div id="uobcms-content" role="main">

      <h1 id="pagetitle">Map</h1>

    <div class='loading'><img src='/images/loading.gif'></div>
    <div id='map_canvas'></div>

  </div>

</body>
</html>
