#pagetitle {
  margin:0;
  font-size:1.875em;
  font-size:34px;
  font-weight:normal;
  color:#B01C2E;
  margin-bottom: 0.75em;
  font-family: Georgia;
  line-height:1.1;
  letter-spacing: -0.01em
}

#pagetitle:after {
  margin-top: 0.5em;
  content: " ";
  height: 2px;
  border-top: 1px solid #dedcd2;
  border-bottom: 1px solid #dedcd2;
  display: block;
  padding: 0;
  width: 100%;
  margin-top: 0.65em;
}

h1 {
  color:#B01C2E;
  font-size:1.5em;
  font-weight:normal;
  line-height: 1.25em;
}

h2 {
  font-size:1.125em;
  font-weight:bold;
  line-height: 1.333em;
  margin: 1.9995em 0 0.6665em 0;
}

p, ul, ol, table {
  margin-top:0;
  margin-bottom:1.5em;
}

ol, ul {
  margin-left: 2em;
  padding-left:0;
}

ul {
  list-style-image:none;
  list-style-type: disc;
}

li {
  margin-left: 0;
  padding-left: 0
}

/* LINKS */
a:link {
  color: #0F7CA4;
  text-decoration:none;
}

a:visited {
  color: #0F7CA4;
}

a:hover, a:focus {
  color: #0F7CA4;
  text-decoration:underline;
  outline: none;
}

/* #IMAGES */
img {
  max-width: 100%;
  max-height: 100%;
}


/* #MASTER WIDTH AND CENTERING */
.width-master {
  margin:0 auto;
  max-width:1150px;
  min-width:967px;
}

#wrapper,.header  {
  padding:0 2.08%;
}

/* #CLEARFIX */
#wrapper:after {
  visibility:hidden;
  display:block;
  font-size:0;
  content:" ";
  clear:both;
  height:0;
}

/* #HEADER */
.header-container {
  background:#FFF;
  color:#333;
  min-height:95px;
  border-bottom:1px solid #dedcd2;
  box-shadow:0 6px 6px -6px rgba(0,0,0,0.2);
  margin-bottom: 2.75em;
  position:relative;
  z-index: 505;
}

.header {
  position:relative;
  overflow: auto;
  min-height:107px;
}


/* #MAINTITLE */
.maintitle {
  margin-left: 19.4945%;
  padding-left:1.1945%;
  border-left:1px solid #fff;
  margin-right: 20%;
}

.maintitle #title1 {
  font-family:Georgia;
  display:block;
  font-weight:normal;
  font-size:1.5em;
  margin:0;
  padding:0;
  color:#333;
  /* new */
  font-size: 24px;
}

#maintitle1 {
  margin-top:2.1em;
  margin-bottom: 1.15em;
  padding-top: 0.5em;
  padding-bottom: 0.75em;
}

#maintitle1 #title1 {
  line-height: 1.2em;
}

#maintitle2 {
  margin-top:1.6em;
  margin-bottom: 1.0em;
}

#maintitle2 #title2 {
  padding:0;
  margin:0;
  font-size: .875em;
  text-transform:none;
  font-weight:normal;
  color:#333;
}

#maintitle2 .hide {
  display:none;
  visibility:hidden;
}

#maintitle2 #title1 {
  top:0;
  margin:0;
  padding:0;
  line-height: 1.2em
}

.maintitle a,.maintitle a:visited {
  color:#333;
  text-decoration:none;
}

.maintitle a:hover, .maintitle a:focus {
color:#333;
text-decoration:underline;
background-color:transparent;
outline: none;
}

#maintitle2 #title2 a {
color:#666;
}

/* #WRAPPER AND CONTENT CONTAINERS */
#wrapper {
clear:both;
min-height:1%;
overflow:visible;
position: relative;
}

#content,#content-nonav {
/*height:1%;*/
padding:0;
min-height:20em;
}

#content {
margin-left:20.823%;
}

hr {
height:1px;
border:none;
color:#dedcd2;
background-color:#dedcd2;
}

/* #BREADCRUMBS */
#breadcrumbs {
  margin: 0 0 0 21%;
  font-size:.875em;
  color:#666;
  padding: 0.25em 0 0.5em 0;
}

#breadcrumbs a, #breadcrumbs a:visited {
  color:#666!important;
  text-decoration:none;
}

#breadcrumbs a:hover, #breadcrumbs a:focus  {
  text-decoration:underline;
  outline: none;
}


/* #LEFT COL HOLDING SIDENAV */
#col1 {
float:left;
font-size:.875em;
padding:6.2em 0 0 0; /* moving it down */
padding:6.6em 0 0 0; /* moving it down */
margin-bottom: 1.5em;
width:18.434%;
}

.navgroup {
margin:0;
padding:0;
list-style-type:none;
background:none;
border-top:1px solid #dedcd2;
}


.navgroup li {
list-style-type:none;
list-style-image:none;
border-bottom:1px solid #dedcd2;
border-top:0;
padding:0;
margin:0;
background-color:#efede9;
line-height:1.5;
}

.navgroup li a {
display: block;
margin:0;
padding:.5em 5%;
width: 90%;
color:#333;
text-decoration:none;
}

.navgroup li a:visited {
color:#333;
}

.navgroup li a:hover, .navgroup li a:focus {
background-color:#fff;
color:#333;
outline: none;
-webkit-transition: all 0.15s linear;
-moz-transition: all 0.15s linear;
-ms-transition: all 0.15s linear;
-o-transition: all 0.15s linear;
transition: all 0.15s linear;
}
