<html>
  <head>
    <title>${title}</title>
    <link rel="stylesheet" href="../css/style_main.css">
    <link rel="stylesheet" href="../css/colour_scheme.css">
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.0.0/pixi.min.js"></script>
  </head>
  ${common_body}
    <div id="network">
    </div>
    <div id="top_links">
    </div>
    <div id="key">
    </div>
    <script src="${script_name}"></script>
    <script>runSim('${datafile}');</script>
${common_foot}
