html, body {
  margin:0;
  padding:0;
  width:100%;
  height:100%;
  font-family:Arial, Helvetica, Verdana, sans-serif;
  line-height:1.5;
}

body {
	overflow-y:scroll;
}

/* ==== HEADER ==== */
#main-logo {
  height: 100%;
  width: 200px;
  float:left;
  background: white;
}


/* ==== MENU SIDE BAR ==== */
#col1 {
  padding-top: 0;
  width: 200px;
}

/*
li:hover {
	display:block;
}
*/

div.logo-additional {
  width: 100%;
  max-height: 200px;
  text-align: center;
}

/* ==== MAIN PAGE CONTENT ==== */
div#wrapper{
  /*min-height: calc( 100% - 107px - 2.75em - 2em - 1px - 50px - 39px)*/
  min-height: 200px;
}

div#content {
  position:relative;
}

/* ==== TABLE FORMATTING ==== */
table {
  width:100%;
  color:#333333;
  border-collapse: collapse;
}

table th {
  padding:4px;
  font-size:12px;
  text-transform:uppercase;
  font-weight:bold;
  max-width: 10em;
}

table td {
  text-align:center;
  padding:2px 4px;
  font-size:20px;
}

table tr:nth-child(even){
  background:#f2f2f2;
}

table a {
  color:#c9002f;
}


span.help_text {
  color: #666;
}

/* ==== Papers ==== */
div.paper {
  background: #efede9;
  margin-bottom:20px;
  padding: 5px;
  border: 1px solid #dedcd2;
}

div.paper table {
  margin-bottom:0;
}


div#content div.year {
  padding:5px 10px;
  border: 1px solid #dedcd2;
  font-size:25px;
  height:30px;
  line-height:35px;
  margin-bottom:10px;
  margin-top:5px;
  text-align:center;
  background:#efede9;
}

div#content div.paper_pub{
  padding:5px 10px;
  border: 1px solid #dedcd2;
  margin-bottom:10px;
  background:#efede9;
  max-height:200px;
  height:auto;
}

div#content div.paper_pub div.paper_title {
  font-weight:bold;
}


div#content div.paper_pub div.paper_journal {
  font-style: italic;
}

div#content div.paper_pub div.paper_ids {
  width:100%;
}

div#content div.paper_pub div.paper_ids div.paper_data{
  float:left;
  font-size:14px;
  padding:3px 4px;
  margin-right:5px;
  border-radius:5px;
}

div#content div.paper_pub div.paper_ids div.paper_data:last-child {
  margin-right:0;
}

table.citation_table td {
  font-size:14px;
}

table.citation_table th {
  font-size:14px;
  text-transform:uppercase;
  font-weight: bold;
}

/* --- Metrics --- */
div#content div.metric {
  /*width:calc( 100%/4 - 1px);*/
  /*height:calc( 25vh - 1px);*/
  height: 200px;
  border-top: 1px solid #dedcd2;
  border-left: 1px solid #dedcd2;
  background:#efede9;
  color:#c9002f;
  float:left;
  text-align: center;
  position: relative;
  transition: background 500ms;
}

div.metric:nth-child(-n + 4) {
  width:calc( 100%/4 - 1px);
}

div.metric:nth-child(n + 5) {
  width:calc( 100%/3 - 1px);
}


/*
div#content div.metric:nth-child(8) {
  border-bottom: 1px solid #dedcd2;
  border-right: 1px solid #dedcd2;
  width:calc( 100%/3 - 2px);
}

div#content div.metric:nth-child(4) {
  border-right: 1px solid #dedcd2;
  width:calc( 100%/3 - 2px);
}

div#content div.metric:nth-child(5),
div#content div.metric:nth-child(6),
div#content div.metric:nth-child(7) {
  border-bottom: 1px solid #dedcd2;
}
*/

div#content div.metric:hover {
  background:#c9002f;
}

div#content div.metric div.metric_name {
  font-size:13px;
  /*position: absolute;
  top:calc( 25vh/2 - 45px );*/
  width:100%;
  transition: color 500ms, top 500ms;
  padding-top: 20px;
}

div#content div.metric:hover div.metric_name {
  color:#f2f2f2;
  top:calc( -45px + 55px);
}

div#content div.metric div.metric_value {
  font-size:50px;
  /*position: absolute;
  top:calc( 25vh/2 - 40px + 30px );*/
  width:100%;
  transition: color 500ms, top 500ms;
}

div#content div.metric:hover div.metric_value {
   color:#f2f2f2;
   top:calc( -40px + 30px  + 55px );
}

div#content div.metric div.metric_stats_data {
   font-size:9px;
   /*position: absolute;
   top:calc( 25vh/2 - 40px + 30px + 55px );*/
   width:100%;
   text-transform: uppercase;
}

div#content div.metric div.metric_description {
   position:absolute;
   bottom:4px;
   width:calc(100% - 20px);
   padding: 0 10px;
   color:#efede9;
   font-size:12px;
}

/* --- Unordered List --- */
div#content ul a {
  color:#c9002f;
}

/* --- Plots --- */
div#content div#cumulative_div {
  width:100%;
  height:500px;
}

div#content div#papers_per_year_div {
  width:100%;
  height:500px;
}

div#content div#papers_per_citation_count_div {
  width:100%;
  height:500px;
}

div#content div#papers_per_high_citation_count_div {
  width:100%;
  height:300px;
}

img.altmetric {
  height:50px;
  vertical-align:middle;
  margin-right:10px;
}

/* ==== Footer ==== */

div.clear-block {
  width:100%;
  clear:both;
  float:left;
  height:1px;
}

div.foot {
  height:50px;
  background:#efede9;
  width:100%;
  margin-top:42px;
}

.clear {
  clear:both;
}

.clear:before,
.clear:after {
  content:" ";
  display:table;
}
.clear:after {
  clear:both;
}


#pagetitle {
  margin:0;
  font-size:1.875em;
  font-size:34px;
  font-weight:normal;
  color:#B01C2E;
  margin-bottom: 0.75em;
  font-family: Georgia;
  line-height:1.1;
  letter-spacing: -0.01em
}

#pagetitle:after {
  margin-top: 0.5em;
  content: " ";
  height: 2px;
  border-top: 1px solid #dedcd2;
  border-bottom: 1px solid #dedcd2;
  display: block;
  padding: 0;
  width: 100%;
  margin-top: 0.65em;
}

h1 {
  color:#B01C2E;
  font-size:1.5em;
  font-weight:normal;
  line-height: 1.25em;
}

h2 {
  font-size:1.125em;
  font-weight:bold;
  line-height: 1.333em;
  margin: 1.9995em 0 0.6665em 0;
}

p, ul, ol, table {
  margin-top:0;
  margin-bottom:1.5em;
}

ol, ul {
  margin-left: 2em;
  padding-left:0;
}

ul {
  list-style-image:none;
  list-style-type: disc;
}

li {
  margin-left: 0;
  padding-left: 0
}

/* LINKS */
a:link {
  color: #0F7CA4;
  text-decoration:none;
}

a:visited {
  color: #0F7CA4;
}

a:hover, a:focus {
  color: #0F7CA4;
  text-decoration:underline;
  outline: none;
}

/* #IMAGES */
img {
  max-width: 100%;
  max-height: 100%;
}


/* #MASTER WIDTH AND CENTERING */
.width-master {
  margin:0 auto;
  max-width:1150px;
  min-width:967px;
}

/*#wrapper,.header  {
  padding:0 2.08%;
}
*/

/* #CLEARFIX */
#wrapper:after {
  visibility:hidden;
  display:block;
  font-size:0;
  content:" ";
  clear:both;
  height:0;
}

/* #HEADER */
#header-container {
  background:#FFF;
  color:#333;
  min-height:95px;
  border-bottom:1px solid #dedcd2;
  box-shadow:0 6px 6px -6px rgba(0,0,0,0.2);
  margin-bottom: 2.75em;
  position:relative;
  z-index: 505;
}

.header {
  position:relative;
  overflow: auto;
  min-height:107px;
}


/* #MAINTITLE */
.maintitle {
  margin-left: 19.4945%;
  padding-left:1.1945%;
  border-left:1px solid #fff;
  margin-right: 20%;
}

.maintitle #title1 {
  font-family:Georgia;
  display:block;
  font-weight:normal;
  font-size:1.5em;
  margin:0;
  padding:0;
  color:#333;
  /* new */
  font-size: 24px;
}

#maintitle1 {
  margin-top:2.1em;
  margin-bottom: 1.15em;
  padding-top: 0.5em;
  padding-bottom: 0.75em;
}

#maintitle1 #title1 {
  line-height: 1.2em;
}

#maintitle2 {
  margin-top:1.6em;
  margin-bottom: 1.0em;
}

#maintitle2 #title2 {
  padding:0;
  margin:0;
  font-size: .875em;
  text-transform:none;
  font-weight:normal;
  color:#333;
}

#maintitle2 .hide {
  display:none;
  visibility:hidden;
}

#maintitle2 #title1 {
  top:0;
  margin:0;
  padding:0;
  line-height: 1.2em
}

.maintitle a,.maintitle a:visited {
  color:#333;
  text-decoration:none;
}

.maintitle a:hover, .maintitle a:focus {
color:#333;
text-decoration:underline;
background-color:transparent;
outline: none;
}

#maintitle2 #title2 a {
color:#666;
}

/* #WRAPPER AND CONTENT CONTAINERS */
#wrapper {
clear:both;
min-height:1%;
overflow:visible;
position: relative;
}

#content,#content-nonav {
padding:0;
min-height:20em;
}

#content {
margin-left:20.823%;
}

hr {
height:1px;
border:none;
color:#dedcd2;
background-color:#dedcd2;
}

/* #BREADCRUMBS */
#breadcrumbs {
  margin: 0 0 0 21%;
  font-size:.875em;
  color:#666;
  padding: 0.25em 0 0.5em 0;
}

#breadcrumbs a, #breadcrumbs a:visited {
  color:#666!important;
  text-decoration:none;
}

#breadcrumbs a:hover, #breadcrumbs a:focus  {
  text-decoration:underline;
  outline: none;
}


/* #LEFT COL HOLDING SIDENAV */
#col1 {
float:left;
font-size:.875em;
padding:6.6em 0 0 0; /* moving it down */
margin-bottom: 1.5em;
width:18.434%;
}

.navgroup {
margin:0;
padding:0;
list-style-type:none;
background:none;
border-top:1px solid #dedcd2;
}


.navgroup li {
list-style-type:none;
list-style-image:none;
border-bottom:1px solid #dedcd2;
border-top:0;
padding:0;
margin:0;
background-color:#efede9;
line-height:1.5;
}

.navgroup li a {
display: block;
margin:0;
padding:.5em 5%;
width: 90%;
color:#333;
text-decoration:none;
}

.navgroup li a:visited {
color:#333;
}

.navgroup li a:hover, .navgroup li a:focus {
background-color:#fff;
color:#333;
outline: none;
transition: all 0.15s linear;
}
